PROJECT_NAME=rea-conne
COMPOSE_PROJECT_NAME=${PROJECT_NAME}
COMPOSE_FILE=./docker/docker-compose.yml

DOMAIN=${PROJECT_NAME}.localhost
SECRET_KEY='django-insecure-ay^_jliourere$3403435'
DEBUG=True

DB_CONNECT=mysql
DB_HOST=192.168.10.128
DB_PORT=3001
DB_DATABASE=rea_conne
DB_USERNAME=admin2
DB_PASSWORD=d3801
